DATABASE_URL=postgres://myuser:mypassword@localhost:5432/mydatabase

RESEND_API_KEY=your_resend_key

JWT_SECRET_KEY=your_jwt_secret_key_here

JWT_EXPIRATION=24

KAFKA_BROKER=localhost:9092

REDIS_URL=redis://127.0.0.1:6379

FCM_PROJECT_ID=vehicle-detailing-cbf90

GOOGLE_APPLICATION_CREDENTIALS=./vehicle-detailing.json

PRICING_CLIENT = http://[::1]:50051